source: libcam
Section: libs
Priority: extra
Maintainer: Albert Huang <albert@csail.mit.edu>
Build-Depends: debhelper (>> 4.2.0), cdbs, gcc (>= 3.0.0), linux-libc-dev, libgl1-mesa-dev, libglib2.0-dev (>= 2.12.0), libgtk2.0-dev (>= 2.10.0), libdc1394-20-dev, libjpeg62-dev
Standards-Version: 3.7.2
Xs-Vcs-Svn: https://libcam.googlecode.com/svn/debian/trunk
Xs-Vcs-Browser: http://libcam.googlecode.com/svn/debian/trunk

Package: libcam0-dev
Provides: libcam-dev
Section: libs
Architecture: amd64 i386 
Depends: libcam0 (= ${binary:Version}), libc6-dev
Description: device-independent image acquisition and processing API
 libcam is a library primarily intended for robotics and machine vision
 researchers.  It provides a device-independent API for acquiring, logging, and
 processing images.
 .
 This package contains development files.

Package: libcam0
Section: libs
Architecture: amd64 i386 
Suggests: libcam0-plugins-dc1394, libcam0-utils
Depends: ${shlibs:Depends}
Description: device-independent image acquisition and processing API
 libcam is a library primarily intended for robotics and machine vision
 researchers.  It provides a device-independent API for acquiring, logging, and
 processing images.
 .
 This package contains shared libraries. 

Package: libcam0-plugins-dc1394
Section: libs
Architecture: amd64 i386 
Depends: ${shlibs:Depends}
Description: IEEE 1394 Digital Camera device input plugins for libcam
 libcam is a library primarily intended for robotics and machine vision
 researchers.  It provides a device-independent API for acquiring, logging, and
 processing images.
 .
 This package contains plugins to provide libcam programs with access to
 IEEE 1394 Digital Camera devices. 

Package: libcam0-utils
Section: utils
Architecture: amd64 i386 
Depends: ${shlibs:Depends}
Description: utility programs for libcam
 This package contains utility programs to support users of the libcam image
 acquisition and processing API.  It provides camview, a program for viewing
 image sources and testing image processing chains.

