Source: libcam
Section: libs
Priority: extra
Maintainer: Albert Huang <albert@csail.mit.edu>
Build-Depends: debhelper (>> 4.2.0), cdbs, gcc (>= 3.0.0), linux-libc-dev, libgl1-mesa-dev, libglib2.0-dev (>= 2.12.0), libgtk2.0-dev (>= 2.10.0), libdc1394-21-dev (>= 2.0.0), libjpeg62-dev
Standards-Version: 3.7.2
Xs-Vcs-Svn: https://libcam.googlecode.com/svn/debian/trunk
Xs-Vcs-Browser: http://libcam.googlecode.com/svn/debian/trunk

Package: libcam1
Section: libs
Architecture: amd64 i386 
Recommends: libcam-utils, libcam-gtk1
Suggests: libcam-plugins-dc1394
Depends: ${shlibs:Depends}
Description: device-independent image acquisition and processing API
 libcam is a library primarily intended for robotics and machine vision
 researchers.  It provides a device-independent API for acquiring, logging, and
 processing images.
 .
 This package contains shared libraries. 

Package: libcam1-dev
Section: libs
Architecture: amd64 i386 
Depends: libcam1 (= ${binary:Version}), libc6-dev
Description: device-independent image acquisition and processing API
 libcam is a library primarily intended for robotics and machine vision
 researchers.  It provides a device-independent API for acquiring, logging, and
 processing images.
 .
 This package contains development files.

Package: libcam-utils
Section: utils
Architecture: amd64 i386 
Depends: ${shlibs:Depends}
Description: utility programs for libcam
 This package contains utility programs to support users of the libcam image
 acquisition and processing API.  It currently provides camlog, a program for 
 logging image streams to disk using the libcam log format.

Package: libcam-gtk1
Section: libs
Architecture: amd64 i386 
Recommends: libcam-gtk-utils
Depends: ${shlibs:Depends}
Description: GTK+ widgets for libcam
 libcam-gtk is a library containing GTK+ widgets for libcam classes.  It is
 intended to provide an easy, consistent, and uniform way to include libcam GUI
 elements in a GTK+ application.
 .
 This package contains shared libraries. 

Package: libcam-gtk1-dev
Section: libs
Architecture: amd64 i386 
Depends: libcam-gtk1 (= ${binary:Version}), libcam1-dev, libc6-dev
Description: GTK+ widgets for libcam
 libcam-gtk is a library containing GTK+ widgets for libcam classes.  It is
 intended to provide an easy, consistent, and uniform way to include GUI
 elements in a libcam application.
 .
 This package contains development files.

Package: libcam-gtk-utils
Section: utils
Architecture: amd64 i386 
Depends: ${shlibs:Depends}
Recommends: libcam-utils
Description: utility programs for libcam-gtk 
 This package contains utility programs to support users of the libcam image
 acquisition and processing API.  It provides camview, a program for viewing
 image sources and testing image processing chains.

Package: libcam-plugins-dc1394
Section: libs
Conflicts: libcam0-plugins-dc1394
Architecture: amd64 i386 
Depends: ${shlibs:Depends}, libdc1394-21 (>= 2.0.0)
Description: IEEE 1394 Digital Camera device input plugins for libcam
 libcam is a library primarily intended for robotics and machine vision
 researchers.  It provides a device-independent API for acquiring, logging, and
 processing images.
 .
 This package contains plugins to provide libcam programs with access to
 IEEE 1394 Digital Camera devices. 

